/* Start Global Rules */
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yello-color: #ffc400;
    --section-color: #eff7fa;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Start Components */

/* Start Main Btn */
.main-btn {
    background-color: var(--red-color);
    color: var(--yello-color);
    padding: 0.5rem 1rem;
    border-radius: 19px;
    transition: .3s;
}
.main-btn:hover {
    background-color: #ea2a47;
    color: white;
}
/* End Main Btn */

/* Start Main Title */
.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
/* End Main Title */

/* End Components */

/* End Global Rules */

/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}

.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    border-left: 1px solid var(--green-color);
    cursor: pointer;
}

.navbar .search svg {
    color: var(--green-color);
}

.navbar .navbar-toggler {
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}
/* End Navbar */

/* Start Landing */
.landing{
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing */

/* Start Features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    color: var(--green-color);
}

.features .feat h4 {
    color: var(--yello-color);
}
/* End Features */

/* Start Our Work */
.our-work{ 
    background-color: var(--section-color);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.our-work ul li:not(.active):hover,
.our-work ul li.active {
    background-color: var(--red-color);
    color: var(--yello-color);
}

.our-work .box {
    overflow: hidden;
}

.our-work .box::before {
    content: attr(data-work);
    width: calc(100%);
    height: calc(100%);
    background-color: rgb(51 209 204 / 76%);
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover::before {
    transform: translateX(0);
}
/* End Our Work */

/* Start Stuff */
.stuff .description {
    max-width: 500px;
}
/* End Stuff */

/* Start Team */
.team {
    background-color: var(--section-color);
}

.team h2 {
    color: var(--yello-color);
}

.team .box h4 {
    background-color: var(--green-color);
}
/* End Team */

/* Start Your Project */
.projects {
    background-color: var(--dark-color);
}
/* End Your Project */

/* Start Subscribe */
.subscribe {
    background-color: var(--yello-color);
}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yello-color);
}

.subscribe input[type="submit"]:hover {
    background-color: #101b2b;
}
/* End Subscribe */

/* Start Footer */
footer {
    background-color: var(--dark-color);
}

footer .copyright span {
    color: var(--green-color);
}

footer .copyright span.inc {
    color: var(--yello-color);
}

footer .contact ul svg {
    width: 20px;
    height: 20px;
}

footer .instagram {
    background-color: var(--red-color);
}

footer .twitter {
    background-color: #1da1f2;
}
footer .tiktok {
    background-color: #101b2b;
}
footer .linkedin {
    background-color: #0077b5;
}
/* End Footer */